body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(250, 232, 209);
    display: flex;
    flex-direction: column;  
    align-items: center;   
}

.form-container{
    background-color: #fff;
    padding: 45px;
    box-shadow: 0 0 40px rgba(0,0,0,0.1);
    width: 420px;
} 

h2{
    margin-top: 0px;
    text-align: center;
    margin-bottom: 30px;
    color: rgb(171, 51, 18);
}

.form-group{
    margin-bottom: 20px;
}

label{
    display: flex;
    margin-bottom: 10px;
    color: #1c1a1a;
}

input, select{
    width: 100%;
    padding: 8px;
    border: 1px solid black;
}

button{
    width: 103%;
    padding: 12px;
    background-color: #ce9056;
    cursor: pointer;
    border: none;
}

button:hover{
    background-color: #d8a281;
}

.actions{
    display: flex;
    margin-top: 10px;
}

.class-btn{
    padding: 10px 20px;
    background-color: #f1d5b6;
    color: black;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid black;
}

.class-btn:hover {
    background-color: #f2d5aa;
}

.records-container{
    margin-top: 10px;
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 0 40px rgba(0,0,0,0.1);
    width: max-content;
} 

.search-bar {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.search-bar input {
    padding: 10px;
    border: 1px solid black;
}

.btn-primary {
    padding: 10px 20px;
    background-color: #ce9056;
    color: black;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #d8a281;
}

.btn-secondary {
    padding: 10px 20px;
    background-color: #f1d5b6;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.btn-secondary:hover {
    background-color:  #f2d5aa;
}

.student-table {
    width: 100%;
    max-width: 900px;
    border-collapse: collapse;
    margin-top: 20px;
}

.student-table th,
.student-table td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.student-table thead {
    background-color: #ce9056;   
    color: rgb(46, 45, 45);
}

.student-table tr:nth-child(even) {
    background-color: #f4e5d4;  
}

.no-records {
    text-align: center;
    font-weight: bold;
}
