body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(250, 232, 209);
    display: flex;
    flex-direction: column;  
    align-items: center;   
}
/* Student form */
.form-container{
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 0 40px rgba(0,0,0,0.1);
    width: 420px;
    border-radius: 10px 10px 10px 10px;
} 

h2{
    margin-top: 0px;
    text-align: center;
    margin-bottom: 30px;
    color: rgb(171, 51, 18);
}

.form-group{
    margin-bottom: 20px;
}

label{
    display: flex;
    margin-bottom: 10px;
    color: #1c1a1a;
}

input, select{
    width: 100%;
    padding: 8px;
    border: 1px solid black;
    border-radius: 3px;
}

button{
    width: 100%;
    padding: 12px;
    background-color: #ce9056;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}

button:hover{
    background-color: #d8a281;
}
/* Records */
.records-container{
    margin-top: 10px;
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 0 40px rgba(0,0,0,0.1);
    width: max-content;
    border-radius: 3px;
} 

.search-bar {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
    padding: 9px 9px 2px 9px;
}

.search-bar input {
    padding: 8px;
    border: 1px solid black;
}

.btn-primary {
    padding: 4px 8px;
    background-color: #ce9056;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    margin-bottom: 1px;
}

.btn-primary:hover {
    background-color: #d8a281;
}

.btn-secondary {
    padding: 9px 9px 2px 9px;
    background-color: #8f8989;
    color: white;
    text-decoration: none;
    border-radius: 3px;
}

.btn-secondary:hover {
    background-color: #555;
}
/* Student Table */
.student-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 5px;
}

.student-table th,
.student-table td {
    border: 1px solid black;
    padding: 6px 6px 4px 6px;
    text-align: center;
}

.student-table thead {
    background-color: #ce9056;   
    color: rgb(46, 45, 45);
}

.student-table tr:nth-child(even) {
    background-color: #f4e5d4;  
}

.no-records {
    text-align: center;
    font-weight: bold;
}
/* Navbar */
.navbar {
    width: 100%;
    background-color: #ce9056;
    padding: 12px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-bottom: 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}

.logout {
    background-color: #9d5725;
    padding: 6px 10px;
    border-radius: 3px;
}
